name: Testing

on: [pull_request, push]

jobs:
  lint:
    name: Check code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint
        env:
          SKIP_PREFLIGHT_CHECK: true

  test:
    name: Testing Application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npm run coverage
        env:
          SKIP_PREFLIGHT_CHECK: true
